<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Modulus" value="524287"/>
        <add key="Multiplier" value="216"/>
        <add key="Increment" value="55"/>
        <add key="Seed" value="1024"/>
        <add key="SequenceCount" value="1000"/>
    </appSettings>
</configuration>
