<configuration>
    <appSettings>
        <add key="Lab1.Modulus" value="524287"/>
        <add key="Lab1.Multiplier" value="216"/>
        <add key="Lab1.Increment" value="55"/>
        <add key="Lab1.Seed" value="1024"/>
        <add key="Lab1.SequenceCount" value="1000"/>
        
        <add key="Lab2.TestInput.0" value=""/>
        <add key="Lab2.ExpectedHash.0" value="D41D8CD98F00B204E9800998ECF8427E"/>
        <add key="Lab2.TestInput.1" value="a"/>
        <add key="Lab2.ExpectedHash.1" value="0CC175B9C0F1B6A831C399E269772661"/>
        <add key="Lab2.TestInput.2" value="abc"/>
        <add key="Lab2.ExpectedHash.2" value="900150983CD24FB0D6963F7D28E17F72"/>
        <add key="Lab2.TestInput.3" value="message digest"/>
        <add key="Lab2.ExpectedHash.3" value="F96B697D7CB7938D525A2F31AAF161D0"/>
        <add key="Lab2.TestInput.4" value="abcdefghijklmnopqrstuvwxyz"/>
        <add key="Lab2.ExpectedHash.4" value="C3FCD3D76192E4007DFB496CCA67E13B"/>
        <add key="Lab2.TestInput.5" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"/>
        <add key="Lab2.ExpectedHash.5" value="D174AB98D277D9F5A5611C2C9F419D9F"/>
        <add key="Lab2.TestInput.6" value="12345678901234567890123456789012345678901234567890123456789012345678901234567890"/>
        <add key="Lab2.ExpectedHash.6" value="57EDF4A22BE3C955AC49DA2E2107B67A"/>

        <add key="Lab3.RC5.Modulus" value="429490006"/>
        <add key="Lab3.RC5.Multiplier" value="1664525"/>
        <add key="Lab3.RC5.Increment" value="10223"/>
        <add key="Lab3.RC5.Seed" value="1"/>
        <add key="Lab3.RC5.WordSize" value="64"/>
        <add key="Lab3.RC5.Rounds" value="20"/>
        <add key="Lab3.PasswordPhraseLength" value="16"/>
        
    </appSettings>
</configuration>
