<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Lab1 Configuration -->
        <add key="Lab1.Modulus" value="524287"/>
        <add key="Lab1.Multiplier" value="216"/>
        <add key="Lab1.Increment" value="55"/>
        <add key="Lab1.Seed" value="1024"/>
        <add key="Lab1.SequenceCount" value="1000"/>

        <!-- Future Lab2 Configuration -->
        
    </appSettings>
</configuration>
